h1 {
    background-color: rgb(172, 46, 29);text-align: center;
    }
    h2{
        color:rgb(255, 208, 80);text-align: center;
    }
    body {
        background-color: rgb(199, 67, 50);text-align: center;
        margin:0%
    
    }
    p {
        font-size: 20px;
    }